<h1>Editing Ag Household Apartment</h1>

<%= render 'form', ag_household_apartment: @ag_household_apartment %>

<%= link_to 'Show', @ag_household_apartment %> |
<%= link_to 'Back', ag_household_apartments_path %>
