<div class="jumbotron">
  <h1 class="display-1">Public Housing Project Tracker</h1>
  <p class="lead">
    This website provides an online tool to record the lifecycle of the public housing projects.
  </p>
  
  <p class="font-weight-normal"> Public housing projects are complicated to manage and monitor. Significant amount of effort is invested in recording the data related to the project activities.
  Usually, the data is dispersed across the sites and is hard to collate. Also there is lack of continuous tracking of the project once the project
  is completed and handed over to the residents. We have developed this website to provide tools for storing all the data
  collected over the lifetime of a project. We provide tools to record the project completion information, information about the structure and the units
  in the projects. The tools also allows to maintain the information about the households in these projects.</p>
</div>
