<% content_for :title do %>About<% end %>

<div class="jumbotron">
  <h1 class="display-4">About the Project</h1>
  <p class="hr">
    This project provides an online utility to track the public housing development projects.
    The tool was developed as part of a class assignment for the course 11.521 - Spatial Database Management and Advanced Geographic Information Systems. The course is offered during spring semester at MIT.
    The project captures data about the public housing projects.
  </p>
</div>
