<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Housing Projects', ag_public_housing_devels_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Apartments', ag_apartments_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Residents', ag_residents_path, class: 'nav-link' %></li>